<section class="vh-100" style="background-color:white;">
  <form action="/admin/dashboard" method="post" id="user_login" >
    <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="dash-container shadow" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>

            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2" >Email</label>
              <input type="email" minlength="4" required name="email" class="form-control form-control-lg" />
              
            </div>

            <div class="form-outline mb-4">
               <label class="form-label" for="typePasswordX-2" >Password</label>
              <input type="password" minlength="3" required name="password" class="form-control form-control-lg" />
              

            </div>
            {{#if loginErr}}
            <div class="loginErr">
              
              <h5 class="text-danger">E-mail or Password is incorrect</h3>
            </div>
            {{/if}}

            <!-- Checkbox -->
            

            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            <br>
            

            <hr class="my-4">

         
          </div>
        </div>
      </div>
    </div>
  </div>

  </form>
  <script>
  $("#user_login").validate();
</script>
  
</section>